<% if user_signed_in? && post.liked_by?(current_user)%>

<%# 下記、星マークは将来ハートマーク(FontAwesome)に変更予定です。 %>
  <%=link_to "◯", post_likes_path(post.id),  method: :delete, class: "star-icon", remote: true %>
<% else %>
  <%=link_to "●", post_likes_path(post.id), method: :post, class: "star-icon", remote: true %>
<% end %>
<span class="like-count"><%= post.likes_count %></span>