<% if user_signed_in? && post.liked_by?(current_user)%>
  <%= link_to image_tag("LogoMakr-6RtPkf.png", size: "25x25"), post_likes_path(post.id), method: :delete, class: "star-icon", remote: true %>
<% else %>
  <%= link_to image_tag("LogoMakr-8PqIc4.png", size: "25x25"), post_likes_path(post.id), method: :post, class: "star-icon", remote: true %>
<% end %>
<span class="like-count"><%= post.likes_count %></span>