
<%# //マイページの表示 %>
  <div class="contents row">
    <p class="nickname"><%= @nickname %>さんの投稿一覧</p>

    <%# お気に入り一覧 %>
    <%# <div class="more">
      <ul class="more_list">
        <li> %>
          <%#= link_to '★', post_path(post.id), method: :get %>
        <%# </li>
      </ul>
    </div> %>

    <% if @user_posts.exists? %>
      <% @user_posts.each do |user_post| %>
        <%= render partial: "post", locals: { post: user_post } %>  
      <% end %>
    <% else %>
      <p>投稿がありません</p>
    <% end %>
  </div>

  <div class="sell-btn-contents">
    <%=link_to '戻る', root_path, class:"back-btn" %>
  </div>

<%= render "shared/second-footer" %>