.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-red-btn {
  width: 100%;
  background: #727272;
  border: 1px solid #727272;
  color: #f6eeee;
  line-height: 48px;
  font-size: 14px;
  font-weight: bolder;
  cursor: pointer;
}

.login-flash-message {
  text-align: center;
  color: red;
}